{% block content %}
<!-- TROQUELADORA 73 -->
<div class="row">
    <div class="col-6  col-md-4 col-lg-4 col-xl-2 mb-2 pt-1">
        <div class="card">
            <div class="card-body ">
                <!-- <div class="btn-group" role="group"> -->
                    <div class="btn-group" role="group">
                        <div>
                            <!-- LED ON -->
                            <div class="card-body-text-run"><h1>On</h1></div>
                            <svg class="Led-green" viewBox="0 0 640 480">
                                <defs>
                                <linearGradient id="svg_26" x1="0" y1="0" x2="1" y2="0">
                                <stop stop-color="#bfbfbf" offset="0"/>
                                <stop stop-color="#404040" offset="1"/>
                                </linearGradient>
                                <linearGradient id="svg_211" x1="0" y1="0" x2="1" y2="1" spreadMethod="pad">
                                <stop id ="led-green-73" stop-color="#000000"  stop-opacity="0.992188" offset="0"/>
                                <stop stop-color="#014201" stop-opacity="0.988281" offset="1"/>
                                </linearGradient>
                                <linearGradient id="svg_214" x1="0" y1="0" x2="1" y2="1" spreadMethod="pad">
                                <stop stop-color="#ffffff" stop-opacity="0.996094" offset="0"/>
                                <stop stop-color="#06d306" stop-opacity="0.984375" offset="0.703125"/>
                                </linearGradient>
                                </defs>
                                <g>
                                <title>Layer 1</title>
                                <circle fill="url(#svg_6)" stroke-width="17.5" stroke-linecap="round" cx="320" cy="240" r="196.125" id="svg_23" fill-opacity="0.77" transform="rotate(90, 320, 240)"/>
                                <circle fill="url(#svg_6)" stroke-width="17.5" stroke-linecap="round" fill-opacity="0.64" cx="319.252837" cy="239.999045" r="160" id="svg_27"/>
                                <circle fill="url(#svg_211)" stroke-width="17.5" stroke-linecap="round" cx="320.000535" cy="240.001698" r="150" id="svg_28"/>
                                </g>
                            </svg>
                            <!-- LED ON -->
                        </div>
                        <div>
                        <!-- LED OFF -->
                        <div class="card-body-text-run"><h1>Off</h1></div>
                        <svg class="Led-red" viewBox="0 0 640 480">
                            <defs>
                            <linearGradient id="svg_6" x1="0" y1="0" x2="1" y2="0">
                            <stop stop-color="#bfbfbf" offset="0"/>
                            <stop stop-color="#404040" offset="1"/>
                            </linearGradient>
                            <linearGradient id="svg_11" x1="0" y1="0" x2="1" y2="1" spreadMethod="pad">
                            <stop id ="led-red-73" stop-color="#000000" stop-opacity="0.992188" offset="0"/>
                            <stop stop-color="#420101" stop-opacity="0.988281" offset="1"/>
                            </linearGradient>
                            <linearGradient id="svg_14" x1="0" y1="0" x2="1" y2="1" spreadMethod="pad">
                            <stop stop-color="#ffffff" stop-opacity="0.996094" offset="0"/>
                            <stop stop-color="#f80000" stop-opacity="0.984375" offset="0.703125"/>
                            </linearGradient>
                            </defs>
                            <g>
                            <title>Layer 1</title>
                            <circle fill="url(#svg_6)" stroke-width="17.5" stroke-linecap="round" cx="320" cy="240" r="196.125" id="svg_3" fill-opacity="0.77" transform="rotate(90, 320, 240)"/>
                            <circle fill="url(#svg_6)" stroke-width="17.5" stroke-linecap="round" fill-opacity="0.64" cx="319.252837" cy="239.999045" r="160" id="svg_7"/>
                            <circle fill="url(#svg_11)" stroke-width="17.5" stroke-linecap="round" cx="320.000535" cy="240.001698" r="150" id="svg_8"/>
                            </g>
                        </svg>
                        <!-- LED OFF -->
                        </div>
                    </div>
                    <div>
                        <div>
                            <figure class="highcharts-figure">
                                <div id="graph-troqueladora73"></div>
                            </figure>    
                        </div>
                        <div>
                            <figure class="highcharts-figure1">
                                <div id="pie-chart-t73"></div>
                            </figure>
                        </div>
                    
                    </div> 
                 <div>
              </div>     
          </div>
      </div>
    </div>
    <!-- TROQUELADORA 73 -->
    <!-- TROQUELADORA 74 -->
    <div class="col-6  col-md-4 col-lg-4 col-xl-2 mb-2 pt-1">
        <div class="card">
            <div class="card-body ">
                    <div class="btn-group" role="group">
                        <div>
                     <!-- LED ON -->
                     <div class="card-body-text-run"><h1>On</h1></div>
                     <svg class="Led-green" viewBox="0 0 640 480">
                        <defs>
                         <linearGradient id="svg_46" x1="0" y1="0" x2="1" y2="0">
                          <stop stop-color="#bfbfbf" offset="0"/>
                          <stop stop-color="#404040" offset="1"/>
                         </linearGradient>
                         <linearGradient id="svg_411" x1="0" y1="0" x2="1" y2="1" spreadMethod="pad">
                          <stop id ="led-green-74" stop-color="#000000"  stop-opacity="0.992188" offset="0"/>
                          <stop stop-color="#014201" stop-opacity="0.988281" offset="1"/>
                         </linearGradient>
                         <linearGradient id="svg_414" x1="0" y1="0" x2="1" y2="1" spreadMethod="pad">
                          <stop stop-color="#ffffff" stop-opacity="0.996094" offset="0"/>
                          <stop stop-color="#06d306" stop-opacity="0.984375" offset="0.703125"/>
                         </linearGradient>
                        </defs>
                        <g>
                          <title>Layer 1</title>
                          <circle fill="url(#svg_6)" stroke-width="17.5" stroke-linecap="round" cx="320" cy="240" r="196.125" id="svg_43" fill-opacity="0.77" transform="rotate(90, 320, 240)"/>
                          <circle fill="url(#svg_6)" stroke-width="17.5" stroke-linecap="round" fill-opacity="0.64" cx="319.252837" cy="239.999045" r="160" id="svg_47"/>
                          <circle fill="url(#svg_411)" stroke-width="17.5" stroke-linecap="round" cx="320.000535" cy="240.001698" r="150" id="svg_48"/>
                        </g>
                       </svg>
                      <!-- LED ON -->
                        </div>
                        <div>
                      <!-- LED OFF -->
                      <div class="card-body-text-run"><h1>Off</h1></div>
                      <svg class="Led-red" viewBox="0 0 640 480">
                         <defs>
                         <linearGradient id="svg_36" x1="0" y1="0" x2="1" y2="0">
                         <stop stop-color="#bfbfbf" offset="0"/>
                         <stop stop-color="#404040" offset="1"/>
                         </linearGradient>
                         <linearGradient id="svg_311" x1="0" y1="0" x2="1" y2="1" spreadMethod="pad">
                         <stop id ="led-red-74" stop-color="#000000" stop-opacity="0.992188" offset="0"/>
                         <stop stop-color="#420101" stop-opacity="0.988281" offset="1"/>
                         </linearGradient>
                         <linearGradient id="svg_314" x1="0" y1="0" x2="1" y2="1" spreadMethod="pad">
                         <stop stop-color="#ffffff" stop-opacity="0.996094" offset="0"/>
                         <stop stop-color="#f80000" stop-opacity="0.984375" offset="0.703125"/>
                         </linearGradient>
                         </defs>
                         <g>
                         <title>Layer 1</title>
                         <circle fill="url(#svg_6)" stroke-width="17.5" stroke-linecap="round" cx="320" cy="240" r="196.125" id="svg_33" fill-opacity="0.77" transform="rotate(90, 320, 240)"/>
                         <circle fill="url(#svg_6)" stroke-width="17.5" stroke-linecap="round" fill-opacity="0.64" cx="319.252837" cy="239.999045" r="160" id="svg_37"/>
                         <circle fill="url(#svg_311)" stroke-width="17.5" stroke-linecap="round" cx="320.000535" cy="240.001698" r="150" id="svg_38"/>
                         </g>
                      </svg>
                      <!-- LED OFF -->
                        </div>
                    </div>
                    <div>
                        <div>
                            <figure class="highcharts-figure">
                                <div id="graph-troqueladora74"></div>
                                <p class="highcharts-description">
                                </p>
                            </figure>
                        </div>
                        <div>
                            <figure class="highcharts-figure1">
                                <div id="pie-chart-t74"></div>
                            </figure>
                        </div> 
                    </div>  
              </div>
       </div>
     </div>
      <!-- TROQUELADORA 74 -->
</div>
<script src="../static/js/highcharts.js"></script>
<script src="../static/js/accessibility.js"></script>
<script src=" ../static/js/troq73.js"></script>
<script src=" ../static/js/troq74.js"></script>
{% endblock %}


